@model FMS_ICS.Models.Product

@{
    ViewBag.Title = "Edit Product";
}

<h2>Edit Product</h2>

@using (Html.BeginForm("Edit", "Product", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ProductID)

    <div class="form-group">
        @Html.LabelFor(m => m.ProductName)
        @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ProductName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ProductDetails)
        @Html.TextAreaFor(m => m.ProductDetails, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ProductDetails)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Price)
        @Html.TextBoxFor(m => m.Price, new { @class = "form-control", type = "number", step = "0.01" })
        @Html.ValidationMessageFor(m => m.Price)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ProcessingFee)
        @Html.TextBoxFor(m => m.ProcessingFee, new { @class = "form-control", type = "number", step = "0.01" })
        @Html.ValidationMessageFor(m => m.ProcessingFee)
    </div>

    <button type="submit" class="btn btn-success">Save Changes</button>
    @Html.ActionLink("Back to List", "Index", "Product", null, new { @class = "btn btn-secondary" })
}